ul {
    padding: 0;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}
    ul li {
        list-style: none;
        float: left;
    }

    ul li a{
        color: #dddddd;
    }

.active {
    color: #fbe7b1;
}
.chosen {
    color: #ffd200;
}

.icon{
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon.star-i{
    background: url("img/star.png") no-repeat;
    background-position: -23px -1px;
}

.icon.star-i.active{
    background-position: -44px -1px;
}

.icon.star-i.chosen{
    background-position: -2px -1px;
}



