@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?66429288');
    src: url('../font/fontello.eot?66429288#iefix') format('embedded-opentype'),
    url('../font/fontello.woff?66429288') format('woff'),
    url('../font/fontello.ttf?66429288') format('truetype'),
    url('../font/fontello.svg?66429288#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

